*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: black;
}

#header{
    font-size: xx-large;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    animation: rightThenLeft 4s linear;
    margin: 30px;
    animation-duration: 5s;
    z-index: 1;
    animation-iteration-count: infinite;
}
table{
    position:sticky;
    /* width: 700px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 20px;
    
    
}
thead{
    border: 2px solid black;
    border-radius: 20px;
    background-color: aqua;
}
.name{
    width: 200px;
    height: 20px;
    border-radius: 20px;
}
.marks{
    width: 170px;
    height: 20px;
    border-radius: 20px;
}
@keyframes rightThenLeft {
    0%   {left: -20%;}
    50%  {left: 20%;}
    100% {left: -20%;}
    from { background: linear-gradient(to right,#3f62cb 0%,#f0e000  100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    to { background: linear-gradient(to right, #f0e000 0%, #3f62cb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
        }     
.button_messages{
    position: absolute;
}
button{
    position: absolute; 
}