*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: black;
}

#header{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    animation-name: colors;
    animation-duration: 1.5s;
    width: 100%;
    font-size: 2vw;
    
    animation-iteration-count: infinite;
}
table{
    /* width: 700px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 2vmax;
    
    
}
thead{
    border: 2px solid black;
    border-radius: 20px;
    background-color: aqua;
    font-size: 2vw;
}
.name{
    width: 14vmax;
    height: 2vmax;
    border-radius: 20px;
    word-wrap: break-word;

}
.marks1{
    width: 7vmax;
    height: 2vmax;
    border-radius: 20px;

}
.marks2{
    width: 7vmax;
    height: 2vmax;
    border-radius: 20px;
}
.marks3{
    width: 7vmax;
    height: 2vmax;
    border-radius: 20px;
    word-wrap:break-word;
    
}
@keyframes colors {
    from { background: linear-gradient(to right,#dbfdff 0%,#f0e000  150%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    to { background: linear-gradient(to right, #f0e000 0%, #dbfdff 160%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}}

@media screen {
    
    
}